name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build (builder stage)
        run: docker build --target builder -t app-builder .

      - name: Run tests (test stage)
        run: docker build --target test -t app-test .

      - name: Build final image
        run: docker build -t flask-app:latest .
